
PowerBI_project/Data/\#CSV_dbeaver_export/_CREATE_OR_REPLACE_TABLE_t_long_phan_project_SQL_secondary_final_20221216.csv
PowerBI_project/Data/\#CSV_dbeaver_export/_SELECT_DISTINCT_c_country_tlp_year_measurement_e_GDP_e_gini_e_p_20221216.csv
PowerBI_project/Data/\#CSV_dbeaver_export/countries_20230102.csv
PowerBI_project/Data/\#CSV_dbeaver_export/covid19_basic_20221221.csv
PowerBI_project/Data/\#CSV_dbeaver_export/covid19_basic_differences_20221221.csv
PowerBI_project/Data/\#CSV_dbeaver_export/Q1.csv
PowerBI_project/Data/\#CSV_dbeaver_export/Q2.csv
PowerBI_project/Data/\#CSV_dbeaver_export/Q4.csv
PowerBI_project/Data/\#CSV_dbeaver_export/Q5.csv
PowerBI_project/Data/\#CSV_dbeaver_export/Table_primary_final.csv
PowerBI_project/Data/\#CSV_dbeaver_export/Table_secondary_final.csv
PowerBI_project/Data/Covid_basic.xlsx
PowerBI_project/Data/Covid_diff.xlsx
PowerBI_project/Data/Q1_wages.xlsx
PowerBI_project/Data/Q2_wages_vs_food_prices.xlsx
PowerBI_project/Data/Q4_yoy_increase.xlsx
PowerBI_project/Data/Q5_gdp.xlsx
PowerBI_project/Data/Table_primary_final.xlsx
PowerBI_project/Data/Table_secondary_final.xlsx
PowerBI_project/Data/Table_secondary_v1.xlsx
PowerBI_project/Data/World_population.xlsx
PowerBI_project/Documentation.docx
